﻿@model IEnumerable<CombatEvent>

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TooltipUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpellId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuraType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model!) {
        <tr>
            <td>
                @{ string span = item.TimeStamp.ToString(@"mm\:ss\:fff"); }
                @Html.DisplayFor(modelItem => span)
            </td>
            <td>
                <a href=@Html.DisplayFor(modelItem => item.TooltipUrl)></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpellId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuraType)
            </td>
        </tr>
}
    </tbody>
</table>
