﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>
</div>
