﻿

@model IEnumerable<SimCraftAPLComparer.Models.Player>

@{
    ViewData["Title"] = "States";
}

<h1>States</h1>

<table id="StatesTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastAction.TimeStamp)
            </th>
            <th>
                Action
            </th>
            <th>
                Target
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buffs)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model!) {
        <tr>
            <td>
                @{ string span = item.LastAction.TimeStamp.ToString(@"mm\:ss\:fff"); }
                @Html.DisplayFor(modelItem => span)
            </td>
            <td>
                <a href=@Html.DisplayFor(modelItem => item.LastAction.TooltipUrl)></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastAction.DestName)
            </td>
            <td>
                @foreach (var buff in item.Buffs)
                {
                    <a href=@Html.DisplayFor(buffItem => buff.TooltipUrl)></a>
                }
            </td>
        </tr>
}
    </tbody>
</table>

@*
Modified from: https://stackoverflow.com/questions/55560705/infinite-scroll-asp-net-core-mvc
@section Scripts {
    <script src="~/js/InfinityScroll.js"></script>

    <script>
        var infinityScroll = new InfinitiySroll("StatesTable", "/home/_States", { sortOrder: "ascending", searchString: "3" });
    </script>
}
*@